.menu {
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rebeccapurple;
	padding: 25px;
}

.link {
	text-transform: uppercase;
	color: white;
	margin: 0px 30px;
	font-weight: 700;
	text-decoration: none;
}

.link:hover {
	color: white;
	text-decoration: none;
}

.link.right {
	margin: 0px 50px 0px 0px;
}

.kill {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.connected, .connected:hover { color: rgb(76, 191, 13); }
.disconnected, .disconnected:hover { color: rgb(191, 13, 13); }
