.gifManager {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gif {
	cursor:pointer;
	border-radius: 5px;
	width: 199px;
	height: 99px;
	margin: 10px;
	background-position: center;
	background-size: cover;
}
